Flask==2.1.2
Flask-RESTful==0.3.9
qiskit==0.44.1
requests==2.28.0
urllib3==1.26.9
Werkzeug==2.1.2
flask-smorest==0.39.0
symengine==0.9.2
qiskit_aer==0.12.2
qiskit_ibm_provider==0.7.1
matplotlib==3.7.0